Makefile
config.log
config.status
autom4te.cache/
bin/ptbl
data/Makefile
data/icons/Makefile
data/icons/hicolor/48x48/Makefile
data/icons/hicolor/48x48/apps/Makefile
data/icons/hicolor/Makefile
data/icons/hicolor/scalable/Makefile
data/icons/hicolor/scalable/apps/Makefile
data/org.example.ptbl.gschema.valid
data/ptbl.desktop
data/ui/Makefile
ptbl/__pycache__/
Makefile.in
configure
*.swp
